@import "tailwindcss";

/* 1. Define Custom Dark Mode Variant */
@custom-variant dark (&:where(.dark, .dark *));

/* 2. Theme Configuration */
@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* 3. LIGHT MODE (Default) */
:root {
  --background: #f8fafc; /* Slate-50 */
  --foreground: #0f172a; /* Slate-900 */
}

/* 4. DARK MODE (Class-based) */
.dark {
  --background: #0f172a; /* Slate-900 */
  --foreground: #f8fafc; /* Slate-50 */
}

/* 5. Utility: Prevent transitions on load (Stops FOIT flash) */
.preload-transitions * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* ==========================================
   CUSTOM SCROLLBAR DESIGN
   ========================================== */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; 
  border: 2px solid transparent;
  background-clip: padding-box;
}
.dark ::-webkit-scrollbar-thumb {
  background: #334155; 
  border: 2px solid transparent;
  background-clip: padding-box;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #475569; 
  border: 2px solid transparent;
  background-clip: padding-box;
}
* {
  scrollbar-width: thin; 
  scrollbar-color: #cbd5e1 transparent;
}
.dark * {
  scrollbar-color: #334155 transparent;
}

/* ==========================================
   DYNAMIC PROGRESS BAR
   ========================================== */
#nprogress .bar {
  background: linear-gradient(to right, #ec4899, #8b5cf6, #4f46e5) !important;
}
#nprogress .peg {
  box-shadow: 0 0 10px #4f46e5, 0 0 5px #ec4899 !important;
}
.dark #nprogress .bar {
  background: linear-gradient(to right, #4f46e5, #8b5cf6, #ec4899) !important;
}
.dark #nprogress .peg {
  box-shadow: 0 0 10px #ec4899, 0 0 5px #4f46e5 !important;
}



/* Disable default crossfade */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/* The old theme stays perfectly still underneath.
  The new theme acts as an expanding circle on top! 
*/
::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
  /* Telegram's exact speed is usually around 0.5s - 0.6s */
  animation: telegram-ripple 0.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* The Magic: Starts at 0px at the exact mouse click, grows to calculated max-radius */
@keyframes telegram-ripple {
  0% {
    clip-path: circle(0px at var(--click-x, 50%) var(--click-y, 50%));
  }
  100% {
    clip-path: circle(var(--click-r, 150vw) at var(--click-x, 50%) var(--click-y, 50%));
  }
}